<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="fileUploadForm">
      <%- include("partials/errors.ejs") %>
      <form action="/folder/<%= folderName %>/uploadFile/" method="POST" enctype="multipart/form-data">
        <label for="fileData">Upload File: </label>
        <input id="fileData" name="fileData" type="file" required />
        <button>Upload</button>
      </form>
    </div>
  </body>
</html>
