.folderContainer,
.fileContainer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.folder,
.file {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

img {
  height: 50px;
}
